.inline-same-height
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.showcase-preview-container
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.showcase-preview-element
{
	display: flex;
	flex-direction: column;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	padding-bottom: 0.25vw;
}

div.showcase-preview-element {
	height: calc(12vh + 1.5em + 16px);
}

img.showcase-preview-year-img {
	height: 24vh;
	object-fit: cover;
}

img.showcase-preview-element-img {
	height: 12vh;
	object-fit: cover;
}

.showcase-preview-year
{
	display: flex;
	flex-direction: column;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	padding-bottom: 0.25vh;
}

.showcase-preview-link
{
	font-size: 1.5rem;
	text-align: center;
}

.preview-frame
{
	outline: none;
	height: auto;
}

img.markdeep
{
	width: 100%;
}

video.markdeep
{
	width: 100%;
}

.aspect-ratio-16-9 {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: calc(100% * (9 / 16));
}

.aspect-ratio-16-9 iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
